.github/**
.vscode/**
.vscode-test/**
src/**
test/**
docs/**
images/examples/**
*.log
*.env
.gitignore
.markdownlint.yaml
biome.json
tsconfig.json
**/*.map
**/*.ts

node_modules/jsxgraph/**
!node_modules/jsxgraph/package.json
!node_modules/jsxgraph/LICENSE.MIT
!node_modules/jsxgraph/LICENSE.LGPL
!node_modules/jsxgraph/src/index.d.ts
!node_modules/jsxgraph/distrib/jsxgraphcore.js
!node_modules/jsxgraph/distrib/jsxgraph.css
